@media (max-width: 1101px) {
    #content-title {
        font-size: 4rem;
    }

    .name-text {
        font-size: 16px;
    }
    
    .profile-text {
        font-size: 14px;
    }
}

@media (max-width: 955px) {
    .content-span {
        font-size: 4rem;
    }

    .name-text {
        font-size: 16px;
    }
    
    .profile-text {
        font-size: 15px;
    }
    
    .profile-sinopse {
        font-size: 16px;
    }
    
}

@media (max-width: 915px) {
    #content-title {
        font-size: 4rem;
    }

    .name-text {
        font-size: 14px;
    }
    
    .profile-text {
        font-size: 15px;
    }

    .content-form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form1 {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    
    .form2 {
        width: 70%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    textarea {
        width: 200px;
    }
    
    .button{
        width: 150px;
        height: 30px;
    }

}

@media (max-width: 831px) {
    .button-custom{
        width: 150px;
        height: 30px;
    }

    .profile-sinopse {
        font-size: 17px;
    }
}

@media (max-width: 794px) {
    .name-text {
        font-size: 12px;
    }
    
    .profile-text {
        font-size: 12px;
    }
}


@media (max-width: 743px) {
    .content-container {
        opacity: 1;
    }

    .project-container {
        opacity: 1;
    }

    .container-form {
        opacity: 1;
    }

    li {
        font-size: 18px;
    }

    .content-span {
        font-size: 3.5rem;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .profile-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .profile-card {
        width: 60%;
        height: 60%;
        border: 2px solid #000000;
        background-color: transparent;
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }
    
    .name-text {
        font-size: 20px;
    }
    
    .profile-text {
        font-size: 15px;
    }

    .icons-container {
        justify-content: center;
        column-gap: 15px;
    }

    .divider{
        width: 80%;
        margin: none;
        border: 1px solid #000000;
    }

    .container-sinopse {
        width: 100%;
        height: 80%
    }

    .profile-sinopse {
        font-size: 17px;
        margin-left: 0;
    }
}

@media (max-width: 665px) {
    #content-title {
        font-size: 3.4rem;
    }

    .profile-sinopse {
        font-size: 16px;
    }
}

@media (max-width: 653px) {
    .img-slider {
        width: 80%;
    }

    textarea {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        height: 150px;
        max-height: 150px;
        min-height: 150px;
    }
}

@media (max-width: 600px) {
    #content-title {
        font-size: 3rem;
    }

    .profile-content {
        height: 80%;
    }

    .profile-card {
        width: 100%;
        height: 80%;
        border: none;
        box-shadow: none;
    }

    .name-text {
        color: #000;
    }
    
    .profile-text{
        color: #000;
    }

    .container-sinopse {
        width: 100%;
        height: 80%;
        align-items: start;
    }

    .profile-sinopse {
        font-size: 16px;
    }

    .divider{
        width: 80%;
        margin: none;
        border: 1px solid #E5E5E5;
    }
}
@media (max-width: 570px) {

    .content-span {
        font-size: 2.5rem;
    }

    .contact{
        margin-top: 10px;
    }
    
    .header-toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 20px;
        z-index: 2;
    }

    .port-toggle {
        display: flex;
    }

    .port-toggle h1 {
        position: fixed;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    h1{
        font-size: 30px;
        z-index: 0;
    }
    
    .nav{
        background-color: transparent;
        width: 100%;
    }

    .nav ul li{
        color: black;
    }
    
    .header-toggle .nav-list {
        visibility: hidden;
    }

    .header-toggle.ativo .nav-list{
        visibility: visible;
        position: fixed;
        right: 0;
        top: 70px;
        width: 150px;
        height: 25vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        z-index: 2;
        transition: 1s;
    }

    .header-toggle.ativo .nav-list li a {
        font-size: 2rem;
        font-family: Helvetica, sans-serif;
    }

    .header-toggle .menuToggle{
        position: fixed;
        right: 20px;
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .header-toggle .menuToggle::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #FCA311;
        transform: translateY(-10px);
        box-shadow: 0 10px #000000;
        transition: 1s;
    }

    .header-toggle .menuToggle::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #FCA311;
        transform: translateY(10px);
        transition: 1s;
    }

    .header-toggle.ativo .menuToggle::before {
        transform: translateY(0) rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    .header-toggle.ativo .menuToggle::after {
        transform: translateY(0) rotate(315deg);
    }

    .arrows {
        width: 50px;
        height: 50px;
    }

textarea {
    display: block;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    border: none;
    margin-top: 5px;
    border:  1px solid #08293f;
}

    .content-span {
        width: 90%;
    }

    .button{
        font-size: 15px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }

    .name-text {
        font-size: 20px;
    }

    .profile-text {
        font-size: 19px;
    }

    textarea {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        height: 150px;
        max-height: 150px;
        min-height: 150px;
    }

    .form-container {
        width: 100%;
        border: none;
    }

    footer {
        margin-top: 15px;  
    }
}

@media (max-width: 521px) {
    #content-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 483px) {

    .content-span{
        font-size: 2rem;
    }
}


@media (max-width: 450px) {
    .name-text{
        font-size: 18px;
    }
    
    .profile-text{
        font-size: 17px;
    }
    
    .profile-container {
        justify-content: center;
    }

    .profile-sinopse {
        font-size: 15px;
    }

    .project-container {
        justify-content: space-around;
    }

    .container-form{
        display: flex;
        justify-content: space-around;
    }

    form {
        margin-top: 20px;
    }
    

    label {
        font-size: 15px;
    }
}

@media (max-width: 424px) {
    #content-title {
        font-size: 2rem;
    }

    .content-span {
        font-size: 25px;
    }

    .profile-container {
        display: flex;
    }
    .arrows {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 366px) {
    #content-title {
        font-size: 1.5rem;
    }
    .content-span {
        font-size: 20px;
    }

    .name-text {
        font-size: 18px;
    }

    .profile-text {
        font-size: 17px;
    }
}

@media (max-width: 314px) {
    .content-span {
        font-size: 15px;
    }
}
