@media (max-width: 1101px) {
    .content-span {
        font-size: 4rem;
    }

    .name-text {
        font-size: 16px;
    }
    
    .profile-text {
        font-size: 14px;
    }
}

@media (max-width: 955px) {
    .content-span {
        font-size: 4rem;
    }

    .name-text {
        font-size: 16px;
    }
    
    .profile-text {
        font-size: 15px;
    }

    .profile-sinopse {
        font-size: 18px;
    }
    
}

@media (max-width: 915px) {
    .content-span {
        font-size: 4rem;
    }

    .name-text {
        font-size: 14px;
    }
    
    .profile-text {
        font-size: 15px;
    }

    .profile-sinopse {
        font-size: 18px;
    }

    .content-form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form1 {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    
    .form2 {
        width: 70%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    textarea {
        width: 200px;
    }
    
    .button{
        width: 150px;
        height: 30px;
      }
   
}

@media (max-width: 831px) {
    .button-custom{
        width: 100px;
        height: 30px;
      }
}

@media (max-width: 794px) {
    .name-text {
        font-size: 12px;
    }
    
    .profile-text {
        font-size: 12px;
    }
}


@media (max-width: 743px) {
    li {
        font-size: 18px;
    }

    .content-span {
        font-size: 3.5rem;
    }

    .profile-container {
        flex-direction: column;
    }
    
    .profile-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .profile-card {
        width: 70%;
        height: 350px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }
    
    .name-text {
        font-size: 20px;
    }
    
    .profile-text {
        font-size: 15px;
    }

    .divider {
        margin: 10px 0;
    }

    .profile-sinopse {
        width: 80%;
        font-size: 17px;
        margin-top: 15px;
        margin-left: 0;
    }
}

@media (max-width: 653px) {

    .content-span {
        font-size: 3rem;
    }

}
@media (max-width: 570px) {

    .content-span {
        font-size: 2.5rem;
    }

    .contact{
        margin-top: 10px;
    }
    
    .header-toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 20px;
        z-index: 2;
    }

    .port-toggle {
        display: flex;
    }

    .port-toggle h1 {
        position: fixed;
        color: #adbac8;
        border-bottom: 1px solid #ca8f61;
    }

    h1{
        font-size: 30px;
    }

    .nav {
        background-color: transparent;
        width: 100%;
    }
    
    .header-toggle .nav-list {
        visibility: hidden;
    }

    .header-toggle.ativo .nav-list{
        visibility: visible;
        position: fixed;
        right: 0;
        top: 70px;
        width: 150px;
        height: 25vh;
        background: #f1bc8c;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        z-index: 100;
        transition: .3s;
    }

    .header-toggle.ativo .nav-list li a {
        font-size: 2rem;
        font-family: Helvetica, sans-serif;
    }

    .header-toggle .menuToggle{
        position: fixed;
        right: 20px;
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .header-toggle .menuToggle::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #08293f;
        transform: translateY(-10px);
        box-shadow: 0 10px #08293f;
        transition: .3s;
    }

    .header-toggle .menuToggle::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #08293f;
        transform: translateY(10px);
        transition: .3s;
    }

    .header-toggle.ativo .menuToggle::before {
        transform: translateY(0) rotate(45deg);
        box-shadow: 0 0 #adbac8;
    }

    .header-toggle.ativo .menuToggle::after {
        transform: translateY(0) rotate(315deg);
    }
}

@media (max-width: 570px) {

    .profile-card {
        margin-top: 20px;
        border: none;
        box-shadow: none;
    }

    textarea {
        display: block;
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        height: 150px;
        max-height: 150px;
        min-height: 150px;
        border: none;
        margin-top: 5px;
        border:  1px solid #08293f;
    }

}

@media (max-width: 570px) {

    .content-span {
        width: 90%;
    }

    .button{
        font-size: 15px;
    }

    .profile-sinopse{
        font-size: 16px;
    }

    textarea {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
        height: 150px;
        max-height: 150px;
        min-height: 150px;
    }

    i {
        font-size: 30px;
    }

    form{
        margin-top: 50px;
    }

    .form-container {
        width: 100%;
    }
    
    textarea {
        width: 80%;
        max-width: 100%;
        min-width: 100%;
    }

    footer {
        margin-top: 15px;  
    }
}

@media (max-width: 521px) {
    .content-span{
        font-size: 2rem;
    }
}

@media (max-width: 483px) {

    .profile-card {
        margin-top: 20px;
    }

    .content-span{
        font-size: 2rem;
    }
}


@media (max-width: 450px) {
    .name-text{
        font-size: 20px;
    }
    
    .profile-text{
        font-size: 20px;
    }
    
    .profile-sinopse{
        font-size: 14px;
    }
    
    .profile-card{
        margin-top: 20px;
        padding: 0;
    }

    .profile-sinopse{
        font-size: 17px;
        margin-top: 15px;
    }

    form{
        margin-top: 40px;
    }

    label {
        font-size: 15px;
    }
}

@media (max-width: 424px) {

    .content-span {
        display: flex;
        font-size: 25px;
    }
}

@media (max-width: 345px) {

    .content-span {
        font-size: 20px;
    }

    .profile-card{
        margin-top: 20px;
        padding: 0;
    }

    .name-text {
        font-size: 13px;
    }

    .profile-text {
        font-size: 10px;
    }

    .profile-sinopse{
        font-size: 15px;
        margin-top: 0;
    }
}

@media (max-width: 314px) {
    .content-span {
        font-size: 15px;
    }
}